@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme  {
    --color-primary-50: #f0f5f2;
    --color-primary-100: #d5e3db;
    --color-primary-200: #b6d0c3;
    --color-primary-300: #91b9a6;
    --color-primary-400: #6ba189;
    --color-primary-500: #487a66;
    --color-primary-600: #2c5844;
    --color-primary-700: #1B3A27;
    --color-primary-800: #112218;
    --color-primary-900: #060b09;

    --color-secondary-300: #d1d5db;
    --color-secondary-600: #4b5563;
    --color-secondary-900: #111827;

}

@layer components {
    .btn {
    @apply px-4 py-2 rounded-md font-medium transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
  
  .btn-primary {
    @apply bg-primary-700 text-white hover:bg-primary-800 focus:ring-primary-500;
  }
  
  .btn-social {
    @apply bg-white  border border-gray-300 hover:bg-gray-50 focus:ring-primary-500;
  }
  
  .input-field {
    @apply w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  font-family: Arial, Helvetica, sans-serif;
} */
